footer {
  padding: 20px 0;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  & .container {
    @include breakpoint-down(medium) {
      flex-direction: column;
      gap: 20px;
    }
    & .creds {
      text-align: center;
    }
    & .links {
      & a:not(:last-of-type) {
        margin-right: 15px;
        @include breakpoint-down(large) {
          margin-right: 5px;
        }
        @include breakpoint-down(medium) {
          margin-right: 7px;
        }
      }
    }
    & .socials {
      gap: 15px;
      @include breakpoint-down(large) {
        margin-right: 4px;
      }
      & * {
        cursor: pointer;
      }
    }
  }
}
