.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(http://localhost:3000/static/media/background10.7a1bfef7b8cc792c1668.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
  & .container {
    & h1 {
      font-size: 80px;
      margin: 40px 0;
      text-align: left;
    }
    & p {
      max-width: 50%;
      text-align: left;
      margin-bottom: 40px;
      font-size: 25px;
    }
  }
}
