.landingpage {
  .homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../Assets/Pictures/background10.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
    @include breakpoint-down(small) {
      height: 80vh;
    }
    & .hero {
      & h1 {
        font-size: 80px;
        margin: 40px 0 20px;
        text-align: left;
        @include breakpoint-down(medium) {
          font-size: 60px;
          margin: 20px 0;
        }
        @include breakpoint-down(small) {
          font-size: 45px;
        }
      }
      & p {
        max-width: 50%;
        text-align: left;
        margin-bottom: 40px;
        font-size: 25px;
        @include breakpoint-down(medium) {
          max-width: 70%;
          font-size: 20px;
        }
        @include breakpoint-down(small) {
          font-size: 18px;
        }
      }
      & button {
        &:not(:last-of-type) {
          @include breakpoint-down(small) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .about-us {
    margin-top: 60px;
    margin-bottom: 60px;
    & h1 {
      font-size: 80px;
      text-align: center;
      margin-bottom: 70px;

      @include breakpoint-down(large) {
        font-size: 60px;
      }
      @include breakpoint-down(medium) {
        font-size: 54px;
      }
    }
    & .MuiGrid-item {
      & .info {
        & img {
          height: 150px;
          aspect-ratio: 1;
          @include breakpoint-down(large) {
            height: 130px;
          }
          @include breakpoint-down(medium) {
            height: 100px;
          }
        }
        & h4 {
          text-align: center;
          @include breakpoint-down(large) {
            font-size: 30px;
          }
          @include breakpoint-down(medium) {
            font-size: 25px;
          }
        }
        & p {
          @include breakpoint-down(large) {
            font-size: 16px;
          }
          @include breakpoint-down(medium) {
            font-size: 14px;
            padding: 0 20px;
          }
          margin-top: 30px;
          text-align: center;
        }
      }
    }
  }
}
