nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: auto;
  border-bottom: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.94);
  font-family: "Poppins";
  font-weight: 500;
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        color: $azure-blue;
      }
      &:not(:last-of-type) {
        margin-right: 30px;
      }
    }
  }
}
