$azure-blue: hsl(210, 69%, 41%);
$light-sky-blue: hsl(196, 70%, 71%);
$dark-cyan-blue: hsl(196, 81%, 29%);

$error: hsl(0, 65%, 51%);
$warning: hsl(30, 100%, 48%);
$success: hsl(123, 43%, 39%);

$dmode-bc-c: hsl(211, 61%, 10%);
$dmode-bc-c-t: hsl(210, 100%, 12%);

$lmode-bc-c: hsl(0, 0%, 100%);
$lmode-bc-c-t: hsl(210, 33%, 96%);

$dmode-text: #fff;
$lmode-text: hsl(211, 61%, 10%);

$reg-fs: 16px;
$big-header-fs: 30px;
$small-head-fs: 25px;
