.joinus {
  margin-top: 120px;
  margin-bottom: 270px;
  height: 100%;
  & .info {
    & h1 {
      font-size: 80px;
      margin-bottom: 30px;
      @include breakpoint-down(large) {
        font-size: 60px;
      }
      @include breakpoint-down(medium) {
        font-size: 54px;
      }
    }
  }
  & .form {
  }
  & form {
    width: 400px;
    gap: 20px;
    @include breakpoint-down(small) {
      width: unset;
    }
  }
}
