.appointment {
  margin-top: 120px;
  margin-bottom: 150px;
  text-align: center;
  & h1 {
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;
    @include breakpoint-down(large) {
      font-size: 60px;
    }
    @include breakpoint-down(medium) {
      font-size: 54px;
    }
  }
  & form {
    gap: 20px;
    width: 500px;
    @include breakpoint-down(medium) {
      width: 400px;
    }
    @include breakpoint-down(small) {
      width: 300px;
    }
  }
}
